[submodule "report"]
	path = report
	url = https://github.com/22060/2025_4IE_report
[submodule "kicad/stm32dev2"]
	path = kicad/stm32dev2
	url = https://github.com/22060/STM32H523dev
[submodule "Gowin_proj"]
	path = Gowin_proj
	url = git@github.com:22060/gowin_projects.git
[submodule "kitchen_relay"]
	path = kitchen_relay
	url = git@github.com:22060/kitchen_relay.git
[submodule "AI"]
	path = AI
	url = git@github.com:22060/AI.git
[submodule "kicad/keyboad"]
	path = kicad/keyboad
	url = https://github.com/22060/keyboadv1
